body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(105, 107, 116);
}
strong {
  font-weight: 500;
}
h2 {
  font-size: 30px;
  margin-top: 0px;
}
blockquote {
  height: 95px;
  padding: 15px;
  margin: 0;
  font-size: 15px;
  border-left: 0;
  background-color: #4b74b9;
  color: #fff;
}
a:hover, a:active, a:focus {
  text-decoration: none;
}
.colored {
  color: #32B796;
}
#logo {
  margin: auto;
  margin-bottom: 15px;
  width: 60px;
  height: 60px;
  padding: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#logo img {
  width: 50px;
}
#banner {
  background-size: cover;
  background-position: 51%;
  height: 80vh;
  padding: 10px;
  text-align: center;
}
#banner h1 {
  font-size: 28px;
  margin: 0 0 10px 0;
  text-align: center;
}
#banner .content {
  color: #fff;
  margin: 120px 0 20px 0;
  text-align: center;
}
#banner .content p a {
  font-size: 20px;
}
#reasons-section {
  padding: 30px 10px;
  img {
    width: 100px;
  }
}
#requests {
  padding: 50px 10px;
  background-color: rgba(0, 0, 0, 0.05);
  h2 {
    text-align: center;
    color: #000;
    small {
      font-size: 15px;
      font-weight: 300;
    }
  }
}
.card-request {
  border: 1px solid #e8e8e8;
  padding: 10px;
  margin-top: 20px;
  background-color: #fff;
  h3 {
    font-size: 18px;
    margin: 0;
  }
  a {
    color: rgb(105, 107, 116);
    display: flex;
    flex-direction: row;
  }
}
.card-request-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
}
.icon-subject {
  width: 70px;
  height: 70px;
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #257298;
  border-radius: 50%;
}
#setup {
  background-color: #257298;
  color: #fff;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }
  #logo {
    margin-bottom: 13vh;
  }
  .form-group {
    margin-bottom: 15px;
  }
  #banner {
    padding: 30px 0;
    padding-top: 10px;
    background-position: 0%;
  }
  #banner .content {
    width: 60%;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 30px;
    font-size: 18px;
    p {
      margin: auto;
      width: 66%;
      margin-bottom: 20px;
    }
    .btn {
      font-weight: 500;
      padding: 10px 30px;
      border-radius: 4px;
    }
  }
  #banner h1 {
    font-size: 50px;
    margin: 10px 0 20px 0;
    font-weight: bold;
  }
  #banner form {
    padding: 40px;
  }
  #banner form input[type=submit] {
    margin-top: 30px;
  }
  #reasons-section {
    padding: 50px 20px;
    p:first-child {
      margin-bottom: 20px;
    }
  }
  #setup {
    padding: 0;
  }
  .setup-details {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    ul {
      padding: 0 0 0 30px;
    }
    .btn {
      margin-top: 10px;
      padding: 10px 24px;
      font-weight: 500;
    }
  }
}
