<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-sm-offset-3">
        <ul>
          <li class="footer-col-title">Nous</li>
          <li><a href="tel:0981396020">09 81 39 60 20</a></li>
          <li><a href="mailto: contact@mymentor.fr">contact@mymentor.fr</a></li>
          <li><a href="https://www.facebook.com/MyMentor.fr/">facebook</a></li>
          <li><a href="https://twitter.com/_Mymentor">twitter</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <ul>
          <li class="footer-col-title">Conditions</li>
          <li><a href="https://mymentor.fr/notre-vision">Notre vision</a></li>
          <li><a href="https://mymentor.fr/#">Conditions Générales</a> </li>
          <li><a href="https://mymentor.fr/mentions-legales">Mentions légales</a> </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="footer-legal-info">Copyright © 2016 GEAD SARL</div>
      </div>
    </div>
  </div>
</div>
